.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# ref: https://dart.dev/guides/libraries/private-files
pubspec.lock 

own_example
.flutter-plugins
.flutter-plugins-dependencies